* {
    margin: 0px;
}

.post {
    background-color: black;
    width: 700px;
    margin: 20px auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.post h1 {
    font-family: impact;
    font-weight: normal;
    color: white;
}

.post img {
    width: 300px;
}

.post p {
    color: yellow;
    font-size: 15px;
    font-family: candara;
    margin-top: 20px;
    text-align: justify;
}